<div id="home">
  <div class="container p-3 mb-2 bg-light text-dark">
        <div class="row">
          <div class="col-8 offset-2">
            <h2>Welcome to GoodGames!</h2>
            <form class="clearfix mb-4" action="POST">
              <div class="form-group">
                <label for="userNameNew">User Name</label>
                <input type="text" id="username" class="form-control" aria-describedby="username">
              </div>
              <div class="form-group">
                <label for="passwordNew">Password</label>
                <input type="password" id="passwordNew" class="form-control" aria-describedby="password">
                <br>
<!-- Adjust buttons to login and/or sign up users -->
              <button id="submit" class="btn btn-primary float-left">Log in!</button>
              </form>
              <br><br>
              <a href='/signup'>New User?</a>
          </div>
        </div>
    </div>
</body>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

