<div class="container p-3 mb-2 bg-light text-dark">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2 class="p-4 text-dark">Games We've Played</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div>
                <a href="https://playoverwatch.com/en-us/" target="_blank"><b>Overwatch</b></a>
            </div>
            <img src="https://www.gamerstemple.net/games31/003338/003338s121.jpg" alt="overwatch" class="img-thumbnail m-2" style="height:150px;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum impedit dolor voluptatem, veniam sequi rem dolorum possimus porro vitae, eaque doloremque velit placeat quia eum iure vel ut officia atque!</p>
            <br>
            <b class="text-danger">-Nick</b>
            <form action="edit.html" class="inline">
                <button id="edit" class="btn btn-danger float-right">Edit</button>
            </form>
            <br><br>
        </div>
        <div class="col-md-3">
            <div>
                <a href="https://www.konami.com/mg/mgsv/" target="_blank"><b>Metal Gear Solid V: The Phantom Pain</b></a>
            </div>
            <img src="http://www.metalgearinformer.com/wp-content/uploads/2014/09/MGSV-The-Phantom-Pain-TGS-2014-Screen-Quiet-African-Jungle-Gameplay-2.jpg" alt="mgsv" class="img-thumbnail m-2" style="height:150px;">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio harum maiores fugiat libero excepturi esse beatae, voluptatum, ipsum facere facilis molestiae quod ratione aliquid quia debitis deserunt sapiente tenetur culpa.</p>
            <br>
            <b class="text-danger">-Nick</b>
            <form action="edit.html" class="inline">
                <button id="edit" class="btn btn-danger float-right">Edit</button>
            </form>
            <br><br>
        </div>
        <div class="col-md-3">
            <div>
                <a href="https://store.steampowered.com/app/210970/The_Witness/" target="_blank"><b>The Witness</b></a>
            </div>
            <img src="https://api.time.com/wp-content/uploads/2016/01/the-witness-5.jpg?w=600&quality=85" alt="witness" class="img-thumbnail m-2" style="height:150px;">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus modi dolores quisquam tempora labore nisi, qui expedita! Sapiente amet consequatur impedit. Eveniet, quidem mollitia odio assumenda reprehenderit quas ratione excepturi!</p>
            <br>
            <b class="text-danger">-Abiel</b>
            <form action="edit.html" class="inline">
                <button id="edit" class="btn btn-danger float-right">Edit</button>
            </form>
            <br><br>
        </div>
        <div class="col-md-3">
            <div>
                <a href="https://supermariomaker.nintendo.com/" target="_blank"><b>Super Mario Maker</b></a>
            </div>
            <img src="https://www.godisageek.com/wp-content/uploads/Super-Mario-Maker-2-review-1024x576.jpg" alt="mariomaker" class="img-thumbnail m-2" style="height:150px;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident harum, eveniet magnam atque molestiae, veniam voluptatibus eaque ducimus iusto libero natus itaque id nemo at. Atque, veniam! Iure, nobis dolorem?</p>
            <br>
            <b class="text-danger">-Vanessa</b>
            <form action="edit.html" class="inline">
                <button id="edit" class="btn btn-danger float-right">Edit</button>
            </form>
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div>
                <a href="https://ghost-recon.ubisoft.com/game/en-us/wildlands" target="_blank"><b>Tom Clancy's Ghost Recon: Wildlands</b></a>
            </div>
            <img src="https://s1.gaming-cdn.com/images/products/2583/screenshot/tom-clancys-ghost-recon-wildlands-xbox-one-wallpaper-2.jpg" alt="wildlands" class="img-thumbnail m-2" style="height:150px;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam recusandae, dolorem vero autem perferendis quibusdam sunt nisi est doloremque iure excepturi in pariatur ipsum fugiat praesentium itaque, magni nulla. Quae.</p>
            <br>
            <b class="text-danger">-Nick</b>
            <form action="edit.html" class="inline">
                <button id="edit" class="btn btn-danger float-right">Edit</button>
            </form>
            <br><br>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
