<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
       
        <div class="container p-3 mb-2 bg-light text-dark">
          <h2>GoodGames</h2>
          <h4>For Gamers by Gamers</h4>
          <div>
            A website created in 2020 dedicated to sharing game information. GoodGames aspires to collect reviews by gamers for gamers, 
            share the latest hype for a game preview, and give trending twitter news for all your favorites. 
          </div>
</div>
       
         
            
         
          
      </div>
      
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/index.js"></script>
