<div id="home">
  <div class="container">
    <div class="row">
      <div class="col">
       
        <div class="container bg-light text-dark">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2 class="p-4 text-dark">Game Previews</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div>
                <a href="https://overwatch2.playoverwatch.com/en-us/trailer" target="_blank"><b>Overwatch 2</b></a>
            </div>
            <img src="https://www.powned.it/wp-content/uploads/2019/11/overwatch-2-3-650x325.jpg" alt="overwatch2" class="img-thumbnail m-2" style="height:150px;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum impedit dolor voluptatem, veniam sequi rem dolorum possimus porro vitae, eaque doloremque velit placeat quia eum iure vel ut officia atque!</p>
            <br>
            <b class="text-danger">-Nick</b>
            <form action="/edit" class="inline">
                <button id="edit" class="btn btn-danger float-right">Edit</button>
            </form>
            <br><br>
        </div>
        <div class="col-md-3">
            <div>
                <a href="https://www.playstation.com/en-us/games/the-last-of-us-part-ii-ps4/" target="_blank"><b>The Last of Us 2</b></a>
            </div>
            <img src="https://media.playstation.com/is/image/SCEA/the-last-of-us-part-ii-gameplay-reveal-thumbnail-01-ps4-us-10jul18?$native_nt$" alt="lastofus" class="img-thumbnail m-2" style="height:150px;">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio harum maiores fugiat libero excepturi esse beatae, voluptatum, ipsum facere facilis molestiae quod ratione aliquid quia debitis deserunt sapiente tenetur culpa.</p>
            <br>
            <b class="text-danger">-Vanessa</b>
            <form action="/edit" class="inline">
                <button id="edit" class="btn btn-danger float-right">Edit</button>
            </form>
            <br><br>
        </div>
        <div class="col-md-3">
            <div>
                <a href="https://watchdogs.ubisoft.com/game/en-us/" target="_blank"><b>Watch Dogs Legion</b></a>
            </div>
            <img src="https://cdn.images.express.co.uk/img/dynamic/143/590x/Watch-Dogs-Legion-1138812.jpg?r=1560202732304" alt="watchdogs" class="img-thumbnail m-2" style="height:150px;">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus modi dolores quisquam tempora labore nisi, qui expedita! Sapiente amet consequatur impedit. Eveniet, quidem mollitia odio assumenda reprehenderit quas ratione excepturi!</p>
            <br>
            <b class="text-danger">-Abiel</b>
            <form action="/edit" class="inline">
                <button id="edit" class="btn btn-danger float-right">Edit</button>
            </form>
            <br><br>
        </div>
        <div class="col-md-3">
            <div>
                <a href="https://www.cyberpunk.net/us/en/pre-order" target="_blank"><b>Cyberpunk 2077</b></a>
            </div>
            <img src="https://cdn.wccftech.com/wp-content/uploads/2018/09/Cyberpunk-2077-action.jpg" alt="cyberpunk" class="img-thumbnail m-2" style="height:150px;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident harum, eveniet magnam atque molestiae, veniam voluptatibus eaque ducimus iusto libero natus itaque id nemo at. Atque, veniam! Iure, nobis dolorem?</p>
            <br>
            <b class="text-danger">-Nick</b>
            <form action="/edit" class="inline">
                <button id="edit" class="btn btn-danger float-right">Edit</button>
            </form>
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div>
                <a href="https://www.residentevil.com/re3/us/?gclid=CjwKCAiAjrXxBRAPEiwAiM3DQlnOW0aeHo6fOZSW2oUO6QnOrERLFsr-Mtj8WhN9K7rOiTc6s1Z2AxoCWTIQAvD_BwE" target="_blank"><b>Resident Evil 3</b></a>
            </div>
            <img src="https://destructoid.com/ul/578656-resident%20evil%203%20collectors%20edition%20header.jpg" alt="residentevil" class="img-thumbnail m-2" style="height:150px;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam recusandae, dolorem vero autem perferendis quibusdam sunt nisi est doloremque iure excepturi in pariatur ipsum fugiat praesentium itaque, magni nulla. Quae.</p>
            <br>
            <b class="text-danger">-Vanessa</b>
            <form action="/edit" class="inline">
                <button id="edit" class="btn btn-danger float-right">Edit</button>
            </form>
            <br><br>
        </div>
    </div>
</div>
       
         
            
         
          
      </div>
      
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
